{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-vue", "@prettier/plugin-pug"],
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "vueIndentScriptAndStyle": false,
        "singleAttributePerLine": false
      }
    }
  ]
}
